:root {
    --primary: rgb(39, 208, 230);
    --bg : #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    
}
html {
    scroll-behavior : smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: rgb(250, 250, 250);
     
}
/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0,8);
    border-bottom: 1px solid var(--primary);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a{
    color: #ffff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.navbar .navbar-nav a:hover{
    color: var(--primary);
}
.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    font-size: 0 0.5rem;
    margin: 0 1rem;   
    color: #fff;
}
.navbar .navbar-extra a:hover{
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}



/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../image/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg,rgba(1, 1, 3, 1)3%, rgba(255, 255, 255, 0)50%);
    
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
    width: 100%;
    text-align: left;   
    
     
}
.hero .content h1 {
    font-family: poppins,sans-serif;
    font-style: italic;
    font-size: 2em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content h1 span{
    color: var(--primary);
}

.hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 400;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
    mix-blend-mode: difference;
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);

}

/* Tentang Kami Section */
.tentang {
   background-color: var(--bg);
    padding: 80px 0;
    text-align: center;
    
}

.tentang h2 {
    font-family: poppins,sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
    
}

.tentang p {
    font-size: 18px;
    margin-bottom: 40px;
    color: rgb(255, 254, 254);
}

/* Cards */
.highlight-cards {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background-color: #f8f8f8;
    padding: 30px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: left;
    margin-bottom: 30px;
    cursor: pointer;
}
.card2 {
    background-color: #f8f8f8;
    padding: 30px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: left;
    margin-bottom: 30px;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card h3 {
    font-size: 24px;
    color: #004aad;
    margin-bottom: 15px;
    font-weight: 600;
   
}

.card p {
    font-size: 16px;
    color: #555;
}


.features {
    padding: 60px 0;
}

.feature-card {
    transition: transform 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.cta {
    background: var(--bg);
    
    padding: 50px 0;
    text-align: center;
    font-size: 16px;
    color: white;
}


/* Program */
.programs {
    display: flex;
    justify-content: space-between;
    
}

.program {
    background-color: var(--bg);
    padding: 30px;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.program h3 {
    font-size: 24px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
}

 /* Styles for the Gallery Slider */
 .gallery-container1 {
    background-color: #fff;
    max-width: 30%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  .slider img {
    width: 100%;
    height: auto;
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }



/* contact section */
.contact {
    padding: 0rem 0% 1.4rem;
    
  }
  .contact h2, .tentang h2, .cta h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
  }
  .contact h2 span ,.tentang h2 span, .cta h2 span {
    color: var(--primary);
  }
  .contact .row {
    display: flex;
    margin-top: 2rem;
    background-color: #222;
    
  }
  .contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
    
  }
  .contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
  }
  .contact .row form .input-group{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color:rgb(199, 199, 199);
    border: 1px solid #eee;
    padding-left: rem;
  }
  .contact .row form .input-group input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    color: #fff;
  }
  .contact .row form .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: var(--primary);
    cursor: pointer;
  }
  /* Footer */
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  } 
  .footer p {
    font-size: 1.2rem;
    margin: 0;
  }
  .footer a {
    margin: 0.5rem;
    font-size: 1.2rem;
    transition: color 0.3s;
    color: white;
}

.footer a:hover {
    color: var(--primary) ;
}
/* Gallery Kegiatan */
.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
    
    .gallery-container {
      padding-top: 35px;
      margin-top: 2rem;
      text-align: center;
      width: 100%;
      max-width: 3000px;
    }
    
    .gallery-container h3 {
      padding-top: 3px;
      margin-bottom: 15px;
      font-size: 2.5rem;
      color: var(--primary);
    }
    
    .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 5px;
      padding: 10px;
    }
    
    .gallery-item {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      text-align: center;
    }
    
    .gallery-item img, .gallery-item video {
      width: 100%;
      height: auto;
      display: block;
      border-bottom: 2px solid #ddd;
    }
    
    .gallery-item p {
      padding: 10px;
      font-size: 1rem;
      color: #555;
    }
    
    .gallery-item video {
      max-height: 250px;
    }
    
    /* Efek hover pada gambar/video */
    .gallery-item:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease-in-out;
    }
    
    .gallery-item img:hover {
      transform: scale(1.1);
    }
    
    .gallery-item video:hover {
      transform: scale(1.05);
    }

/* media queries */

/* Laptop */
@media (max-width:1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width:768px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu{
        display: inline-block;
    }
 
    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: 100%;
        background-color: #fff;
        width: 25rem;
        height: 100vh;
        transition: 0.3s;
    }
    .navbar .navbar-nav.active {
        right: 0;
    } 
    .navbar .navbar-nav a{
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }
    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }
    .navbar .search-form {
        width: 90%;
        right: 2rem;
    }
  /* Cards */
.highlight-cards {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    background-color: #f8f8f8;
    padding: 30px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: left;
    margin-bottom: 30px;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card h3 {
    font-size: 24px;
    color: #004aad;
    margin-bottom: 15px;
    font-weight: 600;
   
}

.card p {
    font-size: 16px;
    color: #555;
}

    .contact .row {
        flex-wrap: wrap;
    }
    .contact .row .map {       
        height: 30rem;
    }
    .contact .row form {
        padding-top: 0;
    }
   
}
/* Mobile Phone */
@media (max-width:450px) {
    html {
        font-size: 55%;
    }
}
