:root {
    --primary: rgb(84, 157, 216);
    --bg : #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    
}
html {
    scroll-behavior : smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
     
}
  /* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0,8);
  border-bottom: 1px solid var(--primary);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  }
  
  .navbar .logo a {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
  }


.navbar .logo span {
    color: var(--primary);
}
  .navbar .nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar .nav-links li {
    margin: 0;
  }
  
  .navbar .nav-links a {
    color: #ffff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
  }
  
  .navbar .nav-links a:hover {
    background-color: var(--bg);
  }
  .navbar .nav-links a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
  }
  .navbar .navbar-links a:hover::after {
    transform: scaleX(0.5);
}

  /* Hamburger menu untuk tampilan mobile */
  .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  
  .hamburger span {
    width: 25px;
    height: 2px;
    background-color: white;
    border-radius: 5px;
  }
  
 
  
  .gallery-container {
    padding-top: 50px;
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    max-width: 1000;
  }
  
  .gallery-container h3 {
    padding-top: 5px;
    margin-bottom: 15px;
    font-size: 2.5rem;
    color: var(--primary);
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 5px;
    padding: 10px;
  }
  
  .gallery-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
  }
  
  .gallery-item img, .gallery-item video {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 2px solid #ddd;
  }
  
  .gallery-item p {
    padding: 10px;
    font-size: 1rem;
    color: #555;
  }
  
  .gallery-item video {
    max-height: 250px;
  }
  
  /* Efek hover pada gambar/video */
  .gallery-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery-item img:hover {
    transform: scale(1.1);
  }
  
  .gallery-item video:hover {
    transform: scale(1.05);
  }
/* contact section */
.contact {
  padding: 0rem 0% 1.4rem;
  
}
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}
.contact h2 span {
  color: var(--primary);
}
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
  
}
.contact .row .map {
  flex: 1 1 40rem;
  width: 100%;
  object-fit: cover;
  
}
.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}
.contact .row form .input-group{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color:rgb(199, 199, 199);
  border: 1px solid #eee;
  padding-left: rem;
}
.contact .row form .input-group input{
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}
.contact .row form .btn {
  margin-top: 4rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
}
  /* Footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  } 
  .footer p {
    font-size: 1.2rem;
    margin: 0;
  }
  .footer a {
    margin: 0.5rem;
    font-size: 1.2rem;
    transition: color 0.3s;
    color: white;
}

.footer a:hover {
    color: var(--primary) ;
}
  
  /* Media Query untuk responsivitas */

  @media (max-width:1366px) {
    html {
        font-size: 75%;
    }
  }

  @media (max-width: 768px) {
    html {
      font-size: 62.5%;
  }
    .navbar .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        position: absolute;
        top: 60px;
        left: 100px;
        padding: 20px 0;
      }
    
      .navbar .nav-links.active {
        display: flex;
      }
    
      .navbar .hamburger {
        display: flex;
        
      }
    .gallery {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  

.contact .row {
    flex-wrap: wrap;
}
.contact .row .map {       
    height: 15rem;
}
.contact .row form {
    padding-top: 0;
}
}
  @media (max-width: 480px) {
    .gallery {
      grid-template-columns: 1fr;
    }
  }


